.geral {
  padding-top: 4.3rem;
  margin-bottom: calc(100vh - 40rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRegister {
  display: grid;
  justify-content: center;
  width: 25em;
  height: 36em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 2px rgba(5, 5, 5, 0.692) solid;
}

form {
  display: grid;
  justify-content: center;
}

.pinput {
  margin: 0;
  font-weight: bold;
}

.placeholder-text::placeholder {
  text-align: center;
  font-size: 0.8rem;
  color: #daa520;
  opacity: 0.5;
}

.h1login {
  font-size: 1.5rem;
  color: #daa520;
  text-align: center;
  margin: 8px 0 0 0;
  border-bottom: black 2px solid;
  height: 2em;
}

span {
  text-align: center;
  margin: 8px 0 0 0;
}

.inputlogin {
  height: 2.5rem;
  width: 15rem;
  border-radius: 10px;
  margin: 5px;
}

.btnlogin {
  height: 3rem;
  width: 11em;
  padding: 0;
  color: #daa520;
  background: #263238;
  border-radius: 12px;
  justify-content: center;
  margin: 10px auto;
  font-weight: bold;
  font-size: 1rem;
}

.h1register {
  font-size: 1rem;
  text-align: center;
  height: 2em;
}
.h1register:link {
  color: black;
}

.h1register:visited {
  color: black;
}

.h1register:hover {
  color: #daa520;
}
